<header class="container">
    <div class="logo">
        <a [routerLink]="['/home', userId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <h1>BitWallet</h1>
        </a>
    </div>
    <nav>
        <div class="nav-container">
            <div>
                <a [routerLink]="['/home', userId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <img class="home" src="../../../assets/imgs/home.png" alt="">
                </a>
                <a routerLink="/contact" routerLinkActive="active"><img class="home"
                        src="../../../assets/imgs/users.png" alt=""></a>
            </div>
            <div>
                <a routerLink="/statistics" routerLinkActive="active"><img class="home"
                        src="../../../assets/imgs/stats.png" alt=""></a>           
                <a routerLink="/signup" routerLinkActive="active"><img class="home" src="../../../assets/imgs/log.png"
                        alt=""></a>
            </div>
        </div>
    </nav>
</header>