<header class="container">
    <div>
        <h1 class="logo">BitWallet</h1>
    </div>
    <nav>
        <div>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img class="home" src="../../../assets/imgs/home.png" alt=""></a>
            <a routerLink="/contact" routerLinkActive="active"><img class="home" src="../../../assets/imgs/users.png" alt=""></a>
            <a routerLink="/statistics" routerLinkActive="active"><img class="home" src="../../../assets/imgs/increase.png" alt=""></a>
        </div>

    </nav>
    <!-- <h1>Users</h1> -->
</header>