<div class="statistic-container">
    <div class="chart">
      <div class="chart-title">Trade Volume</div>
      <canvas id="tradeVolumeChart" width="400" height="300"></canvas>
    </div>
  
    <div class="chart">
      <div class="chart-title">Average Block Size</div>
      <canvas id="avgBlockSizeChart" width="400" height="300"></canvas>
    </div>
  
    <div class="chart">
      <div class="chart-title">Market Price</div>
      <canvas id="marketPriceChart" width="400" height="300"></canvas>
    </div>
  </div>
  