<main *ngIf="user$ | async as user" class="container">
  <div class="info" *ngIf="user.coins !== null && rate !== null">
    <img class="photo" src="https://robohash.org/{{user!._id}}?set=set8" alt="">
    <p><b>Hello: {{ user.name }}!</b></p>

    <div class="coin">
      <img src="../../../assets/imgs/coins.png" alt="">
      <p><b>{{ user.name }} Coins:</b> {{ user.coins }}</p>
    </div>
    <div class="coin">
      <img src="../../../assets/imgs/bitcoin.png" alt="">
      <p><b>Bitcoin Rate:</b> {{ rate }}</p>
    </div>
  </div>

  <div *ngIf="user.moves.length > 0">
    <h3><b>Your Moves :</b> </h3>
    <app-moves-list  *ngFor="let move of userMoves"
    [move]="move">
     
    </app-moves-list>
  </div>
</main>
