/* Styles for the home page */

.info {
  border: 1px solid rgb(138, 132, 132);
  padding: 25px;
  display: flex;

  img.photo {
    height: 15em;
    width: 15em;
  }

  p {
    margin: 10px;
    font-size: 2rem;
    margin-left: 10px;
    color: #333;
  }

  .coin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    .user-coin,
    .user-rate {
      display: flex;
      align-items: center;

      img {
        height: 2em;
        width: 2em;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &>* {
    margin-bottom: 20px;
  }


}

/* Styles for app-contact-page and app-statistic-page components */
app-contact-page,
app-statistic-page {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #444;
  }

  /* Add more specific styles for elements inside these components if needed */
}

li {
  padding: 25px;
  border: 1px solid black;
  list-style: none;
}

@media (max-width: 600px) {
  
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .photo{
          margin-left: 2.2em;
          margin-bottom: 3em;
        }.coin{
          margin-left: 2.5em;
          .hllow{
            margin-left: 1.22em;
          }
        }

      }
  
}