<main class="container">
  <section *ngIf="contact$|async as contact" class="info">
    <img class="photo" src="https://robohash.org/{{contact!._id}}?set=set8" alt="">
    <p><b>Name : </b>{{ contact!.name }}</p>
    <p><b>Phone : </b>{{ contact!.phone }}</p>
    <p><b>Email : </b>{{ contact!.email }}</p>
    <p><b>Coins : </b>{{ contact!.coins }}</p>
    <button class="btn" (click)="goBackToList()">Back</button>
    <div *ngIf="contactMoves!.length > 0">
      <p><b>Your Moves :</b> </p>
      <app-moves-list  *ngFor="let move of contactMoves"
      [move]="move">
       
      </app-moves-list>
    </div>
    <!-- Add more details as needed -->
  </section>
</main>