<section class="contact-edit">
    <h2>{{ 'Add' }} Contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveContact()">
      <label for="name">Name</label>
      <input formControlName="name" type="text" id="name">
  
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email">
  
      <label for="phone">Phone</label>
      <input formControlName="phone" type="text" id="phone">
  
      <button type="submit" [disabled]="!contactForm.valid">Save</button>
    </form>
  </section>
  