.contact-preview {
    
    height: 150px;
    width: 300px;
    box-shadow: -1px 1px 8px #00000045;
    border-radius: 3px;
    display: flex;
    cursor: pointer;


    .info {
        // height: 100%;
        // padding: 10px;
        // flex-grow: 1;
        // position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;

        >p,
        a {
            margin: 0;
            text-decoration: none;
            font-size: 20px;
            color: black;
        }

        

        .data {
            flex-grow: 1;
        }

        .actions {
            display: flex;
            gap: 10px;
            opacity: 0;
            transform: translateX(50%);
            transition-duration: 0.3s;
            transition-property: transform, opacity;

            .remove-btn {
                width: 3em;
                height: 3em;
                background-color: inherit;
                border-radius: 100%;
                border: 1px solid black;
                transition: 0.15s;
                cursor: pointer;
                background-color: transparent;
                .del{
                    width: 2em;
                    height: 2em;
                }

                &:hover {
                    background-color: #4caf50;
                    color: white;
                }
            }
            .edit-btn {
                width: 2.5em;
                height: 2.5em;
                font-size: medium;
                align-items: center;
                background-color: inherit;
                border-radius: 100%;
                border: 1px solid black;
                transition: 0.15s;
                cursor: pointer;
                .del{
                    width: 2em;
                    height: 2em;
                }
                

                &:hover {
                    background-color: #4caf50;
                    color: white;
                }
                
            }
            .transfer-btn{
                width: 2.4em;
                height: 2.4em;
                font-size: medium;
                align-items: end;
                background-color: inherit;
                border-radius: 100%;
                border: 1px solid black;
                transition: 0.15s;
                cursor: pointer;
                .del{
                    margin-top: 8px;
                    margin-left: 7px;
                    width: 1.5em;
                    height: 1.5em;
                }
                

                &:hover {
                    background-color: #4caf50;
                    color: white;
                }
            }
        }
    }

    &:hover .info .actions {
        opacity: 1;
        transform: translateX(0);
        // transform: translateY(-100);
    }
}

.photo {
    width: 80px;
    height: 80px;
}