<section class="contact-preview">
    <section class="info">
        <a [routerLink]="['/details',contact._id]" class="data">
            <p><b></b>{{contact.name}}</p>
        </a>
        <section class="actions" >
            <button (click)="onRemoveContact()" class="remove-btn"><img class="del" src="../../../assets/imgs/delete.png" alt=""></button>
            <a  [routerLink]="['/contact/edit',contact._id]"><button class="edit-btn">📝</button></a>
            <a [routerLink]="['transfer', contact._id]" class="transfer-btn"><img class="del" src="../../../assets/imgs/transaction.png" alt=""></a>
        </section>
        
        
    </section>
    <img class="photo" src="https://robohash.org/{{contact._id}}?set=set8" alt="">
</section>