.transfer {
    height: 50vh;
    width: 50vw;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    background-color: rgb(250, 252, 250);
    border: #4caf50 3px solid;
    box-shadow: -3px 1px 28px #00000061;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    z-index: 999;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 1em;
        }

        input {
            margin-top: 10px;
        }


        .error-message {
            color: red;
            font-size: 0.8em;
            margin-top: 0.5em;
        }


        button {
            width: 50%;
            display: block;
            margin: 20px auto;
        }
    }
}

.msg {
    color: red;
    font-size: 50px;
}

@media (max-width: 600px) {
    .transfer {
        form{
            input{
                width: 15em;
            }
        }
        p {
            font-size: 1.5em;
        }
    }

}